h1 {color:blue;
font-family:helvetica;
background-color: green;
border: 5px solid pink;
padding:50px;}

p {color:pink;
background-color: yellow;
border: 1px dotted orange}

h3 {color:blue;
background-color: green;
border: 3px double pink;}

img {border: 5px solid green;
width: 50%;
height: 50%;
margin-left: 100px;}
