@font-face {
   font-family: 'SpicyRice-Regular';
   font-display: swap;
   src: url('file:///C:/Users/maria/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-12-12_211353/fonts/SpicyRice-Regular/font.ttf');
}
